<header>

  <div class="home">

    <div class="home-header">
      <img class="logo-header" src="./assets/photos/logo.png" alt="">
      <h1 class="name-company mat">Dr Zanardi</h1>
    </div>

    <button class="telefone-header mat-raised-button">Ligue: (54) 9 9921 - 8990 </button>

  </div>

</header>


<body>
  <div class="inicio">
    <div class="coluna-1">
      <h1>Reprodução Equina</h1>
      <button mat-raised-button class="agendar">Agende uma visita</button>
    </div>
    <img class="horse-body mat-elevation-z1" src="./assets/photos/horse.jpg" alt="">
  </div>

</body>


<footer>
  <div class="social-footer">

    <div class="redes">
      <a href="https://www.instagram.com/camilazanardi/" target="_blank">
        <img src="./assets/photos/instagram.png" alt="">
      </a>
      <a href="https://www.facebook.com/camila.zanardi.5" target="_blank">
        <img src="./assets/photos/facebook.png" alt="">
      </a>
    </div>

    <div class="descricao">
      <h1>Camila Zanardi</h1>
      <h3>Especialista em reprodução equina CRMV/UF 20733/RS</h3>
    </div>

    <div class="logo">
      <img class="logo-footer mat-elevation-z10" src="./assets/photos/logo-desc.png" alt="">
    </div>

  </div>

</footer>